<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css"rel="stylesheet">

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>



    <link href="summernote.css" rel="stylesheet"/>

    <script src="summernote.min.js"></script>



    <!-- include summernote-ko-KR -->

    <script src="lang/summernote-ko-KR.js"></script>


    </head>
<body>
    <textarea name="" id="summernote" cols="30" rows="10"></textarea>
    <script>


        $(document).ready(function() {

            $('#summernote').summernote({

                lang: 'ko-KR' // default: 'en-US'

            });

        });
    </script>
</body>
</html>